:root {
    --background-main-color: #FAFAFA;
    --color-black: #111111;
    --color-white: #FFFFFF;
    --color-text-white: rgba(255, 255, 255, 0.70);
    --color-text-balck: rgba(17, 17, 17, 0.70);
    --background-color: #1E1823;
    --main-color: #FD9222;
    --hover-effect: #FCF1E0;
}

/* ================= BASE ================= */
body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-main-color);
    font-size: 14px;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;

    margin-left: auto;
    margin-right: auto;

    padding: 0 32px;
}

.section {
    padding: 64px 0;
}

/* ================= END BASE ================= */

/* ================= HEADER SECTION ================= */
.header {
    padding-bottom: 8px;
}

.head-block {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.site-nav {
    display: flex;
    align-items: center;

    gap: 24px;

    flex-grow: 1;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;

    color: var(--color-black);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
}

.logo .icon {
    margin-left: 5px;
}

.accent-logo {
    font-style: italic;
}

.nav-list {
    display: flex;
    gap: 24px;

    flex-grow: 1;
    justify-content: center;
}

.nav-link {
    display: inline-block;

    color: var(--color-black);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;

    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--main-color);
}

.social-link {
    display: flex;
    align-items: center;
    gap: 18px;
}

.social-link .icon {
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link .icon:hover {
    fill: var(--main-color);
}

/* ================= END HEADER SECTION ================= */

/* ================= HERO SECTION ================= */

.hero-block {
    max-width: 1136px;
    background-color: var(--background-color);
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%), url(../images/img-background.jpg), lightgray -70.319px -105.03px / 110.32% 139.265% no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;

    padding: 380px 40px 40px;
}

.hero-tittle {
    color: var(--color-text-white);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    padding-bottom: 32px;
}

.bth-block {
    display: flex;
    gap: 14px;
}

.main-btn {
    border-radius: 100px;
    background: var(--main-color);
    padding: 14px 40px;
    border: none;

    color: var(--color-white);
    line-height: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.main-btn:hover,
.main-btn:focus {
    background-color: var(--hover-effect);
    color: var(--main-color);
}

.main-btn-link {
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    font-weight: 600;
    line-height: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn-link:hover,
.main-btn-link:focus {
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    color: var(--color-white);
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.03em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-main-color);
    border-radius: 50%;
    width: 34px;
    height: 34px;

    margin-left: 14px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll .icon {
    fill: var(--main-color);
}

.scroll:hover {
    color: var(--main-color);
}

.scroll:hover .block-icon {
    background-color: var(--main-color);
}

.scroll:hover .icon {
    fill: var(--hover-effect);
}

/* ================= END HERO SECTION ================= */

/* ================= BENEFITS SECTION ================= */


.benefits {
    background-color: var(--background-color);
    padding: 50px 0;
}

.benefits-block {
    display: flex;
    gap: 85px;
}

.benefit-item {
    position: relative;
    flex-basis: calc((100% - 170px) / 3);
}

.benefit-item .block-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 62px;
    height: 62px;
    background-color: transparent;

    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.50);

    margin-bottom: 22px;
}

.benefit-title {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 18px;
}

.benefit-text {
    color: var(--color-text-white);
    line-height: normal;
    letter-spacing: -0.02em;
}

.benefit-item:not(:last-child)::before {
    position: absolute;
    top: 50%;
    left: 110%;

    transform: translateY(-50%);
    display: block;
    content: "";
    background-color: rgba(255, 255, 255, 0.50);

    width: 1px;
    height: 124px;
}

/* ================= END BENEFITS SECTION ================= */

/* ================= TASTE SECTION ================= */

.taste-discription {
    max-width: 486px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-title {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    text-align: center;

    margin-bottom: 50px;
}

.accent {
    color: var(--main-color);
}

.main-text {
    color: var(--color-black);
    line-height: 1.28;
    letter-spacing: -0.02em;

    margin-bottom: 50px;
}

.taste-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.taste-img {
    margin-bottom: 36px;
}

.taste-title {
    color: var(--color-black);
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.taste-item {
    position: relative;
    overflow: hidden;

    flex-basis: calc((100% - 60px) / 4);
    border-radius: 15px;
    border: 1px solid #FD9222;
    padding: 28px;
}

.taste-item:nth-child(2n - 3) .taste-title {
    color: var(--color-white);
}

.taste-item:first-child {
    background-color: var(--main-color);
}

.taste-item:nth-child(3n) {
    background-color: var(--background-color);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--background-main-color);
    border-radius: 15px;

    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;

    padding: 20px;
}

.taste-item:nth-child(odd) .overlay {
    transform: translateY(100%);
}

.taste-item:hover .overlay,
.taste-item:focus .overlay {
    transform: translateY(0);
}

.overlay-title {
    color: var(--color-black);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    margin-bottom: 8px;
}

.overlay-btn {
    margin-bottom: 14px;
}

.overlay-btn-orange {
    border-radius: 35px;
    background: var(--main-color);
    padding: 6px 16px;

    color: var(--color-white);
    font-size: 10px;
    line-height: 1.2;

    border: none;
    margin-right: 6px;
}

.overlay-btn-white {
    border-radius: 35px;
    border: 1px solid var(--main-color);
    background: var(--background-main-color);

    padding: 6px 16px;

    color: var(--color-black);
    font-size: 10px;
    line-height: 1.2;
}

.overlay-text {
    color: var(--color-black);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

/* ================= END TASTE SECTION ================= */

/* ================= VIDEO SECTION ================= */



.video-inner {
    display: flex;
    gap: 20px;
}

.video-media {
    position: relative;
    flex-basis: calc((100% - 20px) / 2);
}

.video-background {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), lightgray -10.819px -343.839px / 103.473% 236.295% no-repeat;
    object-fit: cover;
    height: 100%;

    border-radius: 15px;
}

.video-bth {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1);

    border: none;
    background-color: transparent;
}

.video-content {
    flex-basis: calc((100% - 20px) / 2);
    padding: 32px;

    background-color: var(--color-white);
    border-radius: 15px;
}

.video-text {
    color: var(--color-black);

    font-size: 18px;

    font-weight: 600;
    line-height: 1.33;

    margin-bottom: 28px;
}

.video-item {
    position: relative;

    color: var(--color-black);
    letter-spacing: -0.02em;

    padding-left: 16px;
}

.video-item:not(:last-child) {
    margin-bottom: 26px;
}

.icon-dot {
    position: absolute;
    top: 5px;
    left: 0;
}

/* ================= END VIDEO SECTION ================= */

/* ================= PRODUSTS SECTION ================= */
.products-list {
    display: flex;
    gap: 18px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    margin-bottom: 32px;
}

.product-item {
    flex-basis: calc((100% - 54px) / 4);

    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: var(--color-white);
    padding: 32px 20px;
}

.product-item:nth-child(n + 5) {
    display: none;
}


.product-image {
    margin-bottom: 8px;
}

.product-thumb {
    text-align: center;
}

.product-name {
    color: var(--color-black);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    margin-bottom: 2px;
}

.product-text {
    color: var(--color-text-balck);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;

    margin-bottom: 18px;
}

.product-price {
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: var(--background-main-color);

    color: var(--color-black);
    font-weight: 600;
    line-height: normal;

    padding: 8px 20px;
}

.slider-dots {
    display: flex;
    justify-content: center;
    gap: 13px;
}

.active {
    background-color: var(--main-color);
    width: 28px;
    height: 13px;
    border-radius: 15px;
}

.dot {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: rgba(17, 17, 17, 0.10);
}

/* ================= END PRODUSTS SECTION ================= */

/* ================= TOP SECTION ================= */

.top-list {
    display: flex;
    gap: 16px;

    margin-bottom: 32px;
}

.top-image {
    border-radius: 15px;
}

.top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.top-inner .main-text {
    max-width: 407px;
    margin-bottom: 0;
}

/* ================= END TOP SECTION ================= */

/* ================= FEEDBACK SECTION ================= */

.subscribe-section {
    padding-top: 64px;
}

.feedback-thumb .main-title {
    margin-bottom: 100px;
}

.feedback-list {
    display: flex;
    gap: 28px;
}

.feedback-item {
    position: relative;

    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background-color: var(--color-white);
    box-shadow: 0px 9.04932px 26.57166px 0px rgba(215, 228, 249, 0.25);

    flex-basis: calc((100% - 56px) / 3);

    margin-bottom: 31px;
}

.feedback-item:nth-child(n+4) {
    display: none;
}


.feedback-image {
    position: absolute;
    top: -40%;
    left: 50%;

    transform: translate(-50%, 50%);

    object-fit: cover;
}

.feedback-inner {
    text-align: center;
    padding: 56px 24px 26px;
}

.feedback-title {
    color: var(--color-black);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;

    margin-bottom: 24px;
}

.feedback-inner .main-text {
    margin-bottom: 0;
}

.feedback-thumb .slider-dots {
    margin-bottom: 50px;
}

.feedback-btn {
    display: block;
    border-radius: 100px;
    border: 1px solid var(--main-color);
    background-color: transparent;

    color: var(--color-black);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;

    padding: 14px 40px;

    margin-left: auto;
    margin-right: auto;
}

/* ================= END FEEDBACK SECTION ================= */

/* ================= SUBSCRIBE SECTION ================= */

.subscribe {
    display: flex;
    justify-content: center;

    width: 100%;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../images/subcribe-background.jpg), lightgray 0px -481.157px / 100% 375.122% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 72px 0;
}


.subscribe-container {
    max-width: 467px;
    text-align: center;
}

.subscribe-title {
    color: var(--color-white);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    margin-bottom: 24px;
}

.subscribe-container .main-text {
    color: var(--color-white);

    margin-bottom: 24px;
}

/* ================= END SUBSCRIBE SECTION ================= */

/* ================= FOOTER SECTION ================= */

.footer-block {
    background-color: var(--background-color);
    padding: 50px 0;
}

.footer-container {
    position: relative;

    display: flex;
    justify-content: flex-end;
    gap: 63px;

    margin-bottom: 86px;
}

.footer-container::after {
    position: absolute;
    bottom: -62px;
    left: 0;

    content: "";
    width: 1136px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.10);
}

.footer-title {
    color: var(--color-white);
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.03em;

    margin-right: auto;
}

.footer-text {
    color: var(--color-white);
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;

    margin-bottom: 14px;
}

.footer-item {
    margin-bottom: 4px;
}

.footer-link {
    color: var(--color-white);
    font-style: normal;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.footer-container .social-link {
    align-items: flex-start;
}

.footer-container .icon {
    fill: var(--color-white);
}

.footer-nav {
    display: flex;
    gap: 24px;
}

.footer-nav .nav-link {
    color: var(--color-white);
    padding: 0;
}

.footer-nav .nav-link:hover,
.footer-nav .nav-link:focus {
    color: var(--main-color);
}

/* ================= END FOOTER SECTION ================= */